@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

header {
  position: sticky;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  color: #EEE;
  background: #333;
  box-shadow: 0 0 5px 5px #333;
}

header #title {
  text-align: center;
  transform: translate(4rem);
  margin: 1rem;
}

header #title h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 0.5rem;
}

header #title h1 {
  position: relative;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
}

header #title h1::before {
  content: "";
  display: block;
  height: 0.1rem;
  width: 2rem;
  background: #EEE;
  position: absolute;
  top: 50%;
  transform: translate(calc(-100% - 0.5rem), -50%);
}

header #title h1::after {
  content: "";
  display: block;
  height: 0.1rem;
  width: 2rem;
  background: #EEE;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(calc(100% + 0.5rem), -50%);
}

nav {
  flex-flow: row nowrap;
  margin: 0 2rem;
}

nav a {
  color: #EEE;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 5px;
}

nav a:focus, nav a:hover {
  outline: none;
  background: #404040;
}

nav a:active, nav a.active {
  background: #4d4d4d;
}

main {
  background: #DEE;
}

main section {
  display: inline-block;
  padding: 1rem 0.75rem;
  width: 100%;
  min-height: 10px;
}

main section > h2 {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}

main #about-section > div {
  display: flex;
}

main #about-section > div #profile-image {
  flex: 0 0 auto;
  background-image: url("../images/profile.jpg");
  background-size: contain;
  display: block;
  min-width: 20rem;
  min-height: 20rem;
  border-radius: 50%;
  margin: 0.5rem;
  box-shadow: 0 0 0.5rem 0.3rem #476b6b, inset 0 0 0.5rem 0.3rem #476b6b;
}

main #about-section > div #profile-text {
  flex: 1 1 auto;
  padding: 1rem;
}

main #about-section > div #profile-text p:not(:first-child) {
  margin-top: 0.75rem;
}

main #work-section #cards {
  display: flex;
  flex-flow: row wrap;
}

main #work-section #cards .project-card {
  flex: 0 0 auto;
  display: inline-block;
  width: calc(33.33% - 0.5rem);
  min-height: 150px;
  border-radius: 0.5rem;
  margin: 0.25rem;
  background-size: cover;
  text-decoration: none;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 0.15rem 0.15rem #66666633;
}

main #work-section #cards .project-card img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  display: block;
  position: absolute;
  filter: saturate(50%) blur(1px);
}

main #work-section #cards .project-card:hover img, main #work-section #cards .project-card:focus img {
  filter: saturate(100%) blur(0px);
}

main #work-section #cards .project-card:focus {
  outline: none;
}

main #work-section #cards .project-card:active {
  outline: none;
  box-shadow: 0 0 0.15rem 0.2rem #33333366;
}

main #work-section #cards .project-card:first-child {
  width: calc(66.66% - 0.5rem);
}

main #work-section #cards .project-card div {
  padding: 0.5rem 0;
  margin: 0.75rem 0 0.35rem;
  width: 100%;
}

main #work-section #cards .project-card div > * {
  border-radius: 0 0.35rem 0.35rem 0;
  background-color: #333;
  opacity: 0.85;
}

main #work-section #cards .project-card div > span {
  display: inline-block;
  padding: 0.5rem 0.75rem 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

main #work-section #cards .project-card div > span h2 {
  color: #EEE;
  font-size: 1.5rem;
}

main #work-section #cards .project-card div > span em {
  font-size: 0.8rem;
  font-family: monospace;
  color: #EEE;
  margin-left: 1rem;
}

main #work-section #cards .project-card div > span em span:not(:first-child)::before {
  content: ' / ';
}

main #work-section #cards .project-card div p {
  display: inline-block;
  color: #EEE;
  max-width: 90%;
  padding: 0.5rem 0.75rem 0.5rem 1rem;
}

main #work-section #skills {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  font-family: monospace;
}

main #work-section #skills::before {
  content: "SKILLS: ";
}

main #work-section #skills > span:not(#clear_filters) {
  margin: 0 0.15rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  background-color: #cccccc;
  color: #555555;
  cursor: pointer;
}

main #work-section #skills > span:not(#clear_filters).highlighted {
  background-color: #999999;
  color: #eeeeee;
}

main #work-section #skills > span:not(#clear_filters):hover, main #work-section #skills > span:not(#clear_filters):focus {
  outline: none;
  background-color: gray;
  color: #eeeeee;
}

main #work-section #skills > span:not(#clear_filters):active {
  background-color: #666666;
}

main #work-section #skills #clear_filters {
  padding: 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.665rem;
  color: #555555;
  cursor: pointer;
}

main #contact-section div {
  display: flex;
  justify-content: space-around;
  max-width: 922px;
  margin: 0 auto;
  padding-left: 24px;
  flex-flow: row wrap;
  align-content: center;
}

main #contact-section div a {
  color: #667;
  font-weight: 500;
  text-decoration: none;
  margin: 10px 25px;
  position: relative;
  padding: 0.35rem;
  border-radius: 0.35rem;
}

main #contact-section div a:hover, main #contact-section div a:focus {
  outline: none;
  background-color: #99cccc;
}

main #contact-section div a:active {
  background-color: #aad5d5;
}

main #contact-section div a::before {
  content: "";
  background-size: contain;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  position: absolute;
  top: 50%;
  transform: translate(calc(-24px - 5px), -50%);
}

main #contact-section div #contact-phone::before {
  background-image: url("../images/phone.svg");
}

main #contact-section div #contact-email::before {
  background-image: url(../images/email.svg);
}

main #contact-section div #contact-github::before {
  background-image: url(../images/github.svg);
}

main #contact-section div #contact-linkedin::before {
  background-image: url(../images/linkedin.svg);
}

main #contact-section div #contact-stackoverflow::before {
  background-image: url(../images/stackoverflow.svg);
}

footer {
  text-align: center;
  padding: 5px;
  color: #EEE;
  background: #333;
}
